# ======================== GitIgnore File ===============================.


# OSX files
.DS_Store

# Vim folders
.vimswap
.vimundo
.vimviews
.vimbackup

# ======================== End of GitIgnore File ========================.
